body {
    background-color: rgb(183, 199, 255);
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.user-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-left: 5rem;
}

.group-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-right: 5rem;
}

#show-user-form-btn {
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}

#show-user-form-btn:hover {
    transform: scale(1.1);
}

#show-group-form-btn {
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform .5s;
}

#show-group-form-btn:hover {
    transform: scale(1.1);
}

.containter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#add-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#add-group-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}

input {
    margin: 1rem;
}

.edit-user-btn {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}

.edit-group-btn {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}

.delete-user-btn {
    background-color: rgb(194, 0, 0);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.delete-group-btn {
    background-color: rgb(194, 0, 0);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

table {
    padding: 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(226, 229, 255);
}



